/* fonts */
/* montserrat-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v26-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-cyrillic_latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v26-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* variables */
:root {
  --default-font-size: 16px;
  --main-bg: #e9e9e9;
  --black-color: #27272a;
  --grey-color: #666;
  --pending-color: #6a1a9a;
  --doing-color: #ef6c01;
  --done-color: #2e7d32;

  --border-radius: 5px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-bg);
  color: var(--black-color);
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: var(--default-font-size);
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 850px;
  padding: 0 15px;
  margin: 0 auto;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  color: var(--gray-color);
  border-radius: var(--border-radius);
  font-size: 14px;
  font-family: "Montserrat", serif;
}
.input::placeholder {
  font-family: "Montserrat", serif;
}
.textarea {
  width: 100%;
  padding: 12px 15px;
  border: none;
  color: var(--gray-color);
  border-radius: var(--border-radius);
  font-size: 14px;
  min-width: 100%;
  max-width: 100%;
  min-height: 85px;
  max-height: 200px;
  font-family: "Montserrat", serif;
}
.textarea::placeholder {
  font-family: "Montserrat", serif;
}

.btn {
  background-color: var(--black-color);
  border: none;
  color: #fff;
  padding: 12px 40px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: #353539;
}
.btn--second {
  padding: 10px 38px;
  background-color: #fff;
  border: 2px solid var(--black-color);
  color: var(--black-color);
}
.btn--second:hover {
  background-color: #323236;
  color: #fff;
}

.fields-wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.btns-wrap {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}
